.container-fluidxx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    background: linear-gradient(135deg, #cbddb5, #b9eb7d);
}

label {
    margin-bottom: 10px;
} 

input[type="password"] {
    border: 0;
    outline: 0;
    background: #ecffeb;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 17px;
}

button[type="button"] {
    margin-top: 10px;
    cursor: pointer;
    background-color: #9eb97f;
    height: 40px;
    width: 80px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    font-size: 17px;
}
 