.reloj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
    margin: 0;
    background: linear-gradient(135deg, #cbddb5, #b9eb7d);
  }
  
  .clock {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  
  .time {
    color: #333;
  }
  
  @font-face{
    font-family:'TimeTraveler';
    font-style:normal;
    font-weight:400;
    src:url('/TimeTravelerPal-Normal-Regular.ttf') format('truetype')}

 .time{
    font-family: 'TimeTraveler';
    font-size: 200px;
}
  
  
  
  
  